###> composer ###
composer.lock
/vendor/
###< composer ###

###> log ###
*.log
###< log ###

###> phpstorm ###
/.idea/
###< phpstorm ###

###> mail ###
/mails/*
!/mails/classic/
!/mails/modern/
###< mail ###

###> prestashop ###
config*.xml
###< prestashop ###

###> translations ###
translations/*
###< translations ###

###> views ###
/views/.vite/*
!/views/.vite/index.php
/views/css/*
!/views/css/index.php
/views/img/*
!/views/img/index.php
!/views/img/logo-dark-master.png
/views/js/*
!/views/js/index.php
/views/map/
###< views ###
