{% extends '@Modules/drsoftfrvalidatecustomerpro/views/templates/admin/base.html.twig' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col">
            {% include '@Modules/drsoftfrvalidatecustomerpro/views/templates/admin/setting/layout/_form.html.twig' %}
        </div>
    </div>
{% endblock %}
